<ion-view title="Add Student">
  <ion-content ng-controller="StudentCtrl">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">First Name</span>
        <input ng-model='studFirstName' type='text' id='labelInput' required>
      </label>
      <label class="item item-input">
        <span class="input-label">Last Name</span>
        <input ng-model='studLastName' type='text' id='labelInput' required>
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input ng-model='studEmail' type='email' id='labelInput' required>
      </label>
      <label class="item item-input">
        <span class="input-label">Phone Number</span>
        <input ng-model='studPhone' type='number' id='labelInput' required>
      </label>
      <label class="item item-input">
        <span class="input-label">Date of Birth</span>
        <input ng-model='studDOB' type='date' id='labelInput' required>
      </label>
      <label class="item item-input">
        <span class="input-label">Start Date</span>
        <input ng-model='studStartDate' type='date' id='labelInput' required>
      </label>
      <label class="item item-input">
        <span class="input-label">End Date</span>
        <input ng-model='studEndDate' type='date' id='labelInput'>
      </label>
      <label class="item item-input">
        <span class="input-label">Payment Type</span required>
        <select ng-model="studPaymentType">
          <option value="casual" ng-model="casual">Casual</option>
          <option value="cashCard" ng-model="cashCard">Membership Cash/Card</option>
          <option value="directDebit" ng-model="directDebit">Membership Direct Debit</option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">Address</span>
        <input ng-model='studAddress' type='text' id='labelInput' required>
      </label>
      <label class="item item-input">
        <span class="input-label">Emergency Contact Name</span>
        <input ng-model='Econtact' type='text' id='labelInput' required>
      </label>
      <label class="item item-input">
        <span class="input-label">Emergency Contact Phone</span>
        <input ng-model='Ephone' type='text' id='labelInput' required>
      </label>


      <label class="item item-input">
        <span class="input-label">Is student under 18?</span required>
        <select ng-model="age">
          <option value="underage" ng-model="underage">Yes</option>
          <option value="adult" ng-model="adult">No</option>
        </select>
      </label>

<!--
      <label class="item item-input">
        <span class="input-label">Is student under 18?</span>
      </label>
      <label class="item item-input">
        <ion-radio name="age" value="underage" ng-model="age">Yes</ion-radio>
        <ion-radio name="age" value="adult" ng-model="age" checked>No</ion-radio>
      </label> -->



      <div class="wrapper" ng-show="age == 'underage'">
      <label class="item item-input">
        <span class="input-label">Parent First Name</span>
        <input ng-model='parFirstName' type='text' id='labelInput'>
      </label>
      <label class="item item-input">
        <span class="input-label">Parent Last Name</span>
        <input ng-model='parLastName' type='text' id='labelInput'>
      </label>
      <label class="item item-input">
        <span class="input-label">Parent Address</span>
        <input ng-model='parAddress' type='text' id='labelInput'>
      </label>
      <label class="item item-input">
        <span class="input-label">Parent Email</span>
        <input ng-model='parEmail' type='email' id='labelInput'>
      </label>
      <label class="item item-input">
        <span class="input-label">Parent Phone Number</span>
        <input ng-model='parPhone' type='text' id='labelInput'>
      </label>
      </div>
      <div ng-show="age == 'adult'"></div>
      <div class="padding">
        <button class="button button-block button-dark icon-left ion-plus" ng-click="addStudent($event)">Add</button>
      </div>
    </div>
  </ion-content>
</ion-view>


