<ion-view title="Student Details" ng-controller="StudentCtrl">
  <ion-content>
    <div class="list">
      <ion-item ng-repeat="student in students" type="item-text-wrap">
        <b>Details for: {{student.studFirstName}} {{student.studLastName}}</b><br>
        Email: {{student.studEmail}}<br>
        Phone Number: {{student.studPhone}}<br>
        Date of Birth: {{student.studDOB}}<br>
        Start Date: {{student.studStartDate}}<br>
        End Date: {{student.studEndDate}}<br>
        Payment Type: {{student.studPaymentType}}<br>
        Emergency Contact: {{student.Econtact}}<br>
        Emergency Contact Number: {{student.Ephone}}<br>
        <b>Parent Details</b><br>
        Name: {{student.parFirstName}} {{student.parLastName}}<br>
        Address: {{student.parAddress}}<br>
        Email: {{student.parEmail}}<br>
        Phone Number: {{student.parPhone}}
      </ion-item>
    </div>
  </ion-content>
</ion-view>