<ion-view title="Students">
  <ion-content ng-controller="StudentCtrl">
    <div class="list">
      <div class="padding">
        <input type="search" ng-model="q" placeholder="Search Students" aria-label="Search Students"/>
      </div>
      <ion-item ng-repeat="student in students|filter:user.password.email|filter:q as results" type="item-text-wrap" ng-click="studDetails()">
        {{student.studLastName}}, {{student.studFirstName}} 
      </ion-item>
      <div class="padding">
          <button class="button button-block button-dark icon-left ion-plus" onclick="location.href='#/menu/addStudent';">Add</button>
      </div>
    </div>
  </ion-content>
</ion-view>
